<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youershaicha.information.dao.ChildCornealDao">

	<select id="get" resultType="com.youershaicha.information.domain.ChildCornealDO">
		select `t_corneal_id`,`t_optometry_id`,`history_id`,age,check_date,child_idcard,`corneal_mm`,`corneal_d`,`corneal_deg`,`type`,`ifRL`,`first_second` from t_child_corneal where t_corneal_id = #{value}
	</select>

	<select id="getChildChildCornealDOList" resultType="com.youershaicha.information.domain.ChildCornealDO">
		select `t_corneal_id`,`t_optometry_id`,`history_id`,age,check_date,child_idcard,`corneal_mm`,`corneal_d`,`corneal_deg`,`type`,`ifRL`,`first_second` from t_child_corneal where t_optometry_id = #{tOptometryId}
	</select>
	 
	<insert id="save" parameterType="com.youershaicha.information.domain.ChildCornealDO" useGeneratedKeys="true" keyProperty="tCornealId">
		insert into t_child_corneal
		(
			`t_optometry_id`, 
			`history_id`, 
			`corneal_mm`, 
			`corneal_d`, 
			`corneal_deg`, 
			`type`, 
			`ifRL`, 
			`first_second`,
			 age,
			 check_date,
			 child_idcard
		)
		values
		(
			#{tOptometryId}, 
			#{historyId}, 
			#{cornealMm}, 
			#{cornealD}, 
			#{cornealDeg}, 
			#{type}, 
			#{ifrl}, 
			#{firstSecond},
			#{age},
			#{checkDate},
			#{childIdcard}
		)
	</insert>
	 
	<update id="update" parameterType="com.youershaicha.information.domain.ChildCornealDO">
		update t_child_corneal 
		<set>
			<if test="tOptometryId != null">`t_optometry_id` = #{tOptometryId}, </if>
			<if test="historyId != null">`history_id` = #{historyId}, </if>
			<if test="cornealMm != null">`corneal_mm` = #{cornealMm}, </if>
			<if test="cornealD != null">`corneal_d` = #{cornealD}, </if>
			<if test="cornealDeg != null">`corneal_deg` = #{cornealDeg}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="ifrl != null">`ifRL` = #{ifrl}, </if>
			<if test="firstSecond != null">`first_second` = #{firstSecond}</if>
		</set>
		where t_corneal_id = #{tCornealId}
	</update>

</mapper>