<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>历史记录2</title>
<link rel="stylesheet" href="css.css" type="text/css">
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
   <div class="banner">
   		<img src="img/banner.jpg" alt=""/>
   </div>

   <!--主体内容-->
   <div class="main">
 		<div class="rightOld">
 			<div class="fl baseName">
 				<p class="F24">张小娴</p>
 				<p>女</p>
 				<p>372928201408102564</p>
 			</div>
			<div class="fr">
				选择年龄段：
				<select>
					<option>-请选择-</option>
					<option>出生2-7天</option>
					<option>3周岁</option>
					<option>4周岁</option>
				</select>
			</div>
		</div>
		
		<div class="jiluBox">
			<h3>2-7天眼病筛查</h3>
			<div class="box">
				<span>检查日期：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>2020年12月16日</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>视力检查：</span>
				<div class="Hlishibox">
					<table border="1" cellspacing="0" cellpadding="0">
					  <tbody>
						<tr>
						  <td><b>裸眼视力：</b></td>
						  <td>E字视标</td>
						  <td> </td>
						</tr>
						<tr>
						  <td> </td>
						  <td>右眼：</td>
						  <td>1.0</td>
						</tr>
						<tr>
						  <td> </td>
						  <td>左眼：</td>
						  <td>1.0</td>
						</tr>
					  </tbody>
					</table>
					<table border="1" cellspacing="0" cellpadding="0">
					  <tbody>
						<tr>
						  <td><b>戴镜视力：</b></td>
						  <td>图形视标</td>
						  <td> </td>
						</tr>
						<tr>
						  <td> </td>
						  <td>右眼：</td>
						  <td>1.0</td>
						</tr>
						<tr>
						  <td> </td>
						  <td>左眼：</td>
						  <td>1.0</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
			
			<div class="box">
				<span>外眼检查：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td width="85">右眼：</td>
					  <td width="85">异常</td>
					  <td>溢泪</td>
					</tr>
					<tr>
					  <td>左眼：</td>
					  <td>正常</td>
					  <td> </td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>红光反射：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td width="85">右眼：</td>
					  <td width="85">异常</td>
					  <td>异常情况描述</td>
					</tr>
					<tr>
					  <td>左眼：</td>
					  <td>正常</td>
					  <td> </td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>眼位检查：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td width="85">右眼：</td>
					  <td width="85">正位</td>
					  <td width="85"> </td>
					  <td> </td>
					</tr>
					<tr>
					  <td>左眼：</td>
					  <td>斜视</td>
					  <td>内斜</td>
					  <td>内斜情况...</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box box3">
				<span>检影检查：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td colspan="4">是</td>
					</tr>
					<tr class="C-blue">
					  <td width="70"> </td>
					  <td width="110">S</td>
					  <td width="110">C</td>
					  <td>A</td>
					</tr>
					<tr>
					  <td>右眼：</td>
					  <td>&lt;-2.50</td>
					  <td>-0.25</td>
					  <td>7.0&gt;</td>
					</tr>
					<tr>
					  <td>右眼：</td>
					  <td>&lt;-2.50</td>
					  <td>-0.25</td>
					  <td>7.0&gt;</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>选择性注视检测：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td width="85">右眼：</td>
					  <td width="85">灰板</td>
					</tr>
					<tr>
					  <td>左眼：</td>
					  <td>0.10</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box box2">
				<span>屈光筛查：</span>
				<div style="float: left;width: 80%;">
				<table class="tab1" border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>等效球镜</td>
					  <td colspan="2"><em>OD:</em>-5.00</td>
					  <td><em>OS:</em>-4.75</td>

					</tr>
					<tr>
					  <td>球镜</td>
					  <td colspan="2"><em>OD:</em>-4.75</td>
					  <td><em>0S:</em>-4.5</td>

					</tr>
					<tr>
					  <td>柱镜</td>
					  <td colspan="2"><em>OD:</em>-4.75</td>
					  <td><em>0S:</em>-4.5</td>

					</tr>
					<tr>
					  <td>轴位</td>
					  <td colspan="2"><em>OD:</em>@36°</td>
					  <td><em>OS:</em>@2°</td>

					</tr>
					<tr>
					  <td>瞳距</td>
					  <td><em>双眼：</em>66mm</td>
					  <td><em>OD:</em>5.4mm</td>
					  <td><em>OS:</em>5.4mm</td>
					</tr>
				  </tbody>
				</table>
				<table class="tab2" border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td width="85">右眼：</td>
					  <td width="85">异常</td>
					  <td>异常情况描述</td>
					</tr>
					<tr>
					  <td>左眼：</td>
					  <td>正常</td>
					  <td> </td>
					</tr>
				  </tbody>
				</table>
				</div>
			</div>
			
			<div class="box">
				<span>散瞳前电脑验光：</span>
				<div class="fl sanTong">
					<!--	<a href="">获取数据</a>-->
					<div class="stsju">
						<!--右眼数据-->
						<div class="F18" id="firstCheckVd">

							VD


						</div>
						<table border="1" cellspacing="0" cellpadding="0">
							<tbody>

							<tr class="F16">
								<td class="C-blue"> &lt; R &gt;</td>
								<td>S</td>
								<td>C</td>
								<td>A</td>
								<td> </td>
							</tr>
							<tr id="firstcheckr">
								<td colspan="5" class="F16">L.DATA</td>
							</tr>
							<tr>
								<td colspan="5" class="F16" id="firstCheckRps">PS &nbsp;</td>
							</tr>
							<tr class="F16">
								<td> </td>
								<td>R</td>
								<td>D</td>
								<td>deg</td>
								<td> </td>
							</tr>
							<tr id="firstcheckdegr">
								<td colspan="5" class="F16" id="firstCheckRcs">CS &nbsp;</td>
							</tr>
							</tbody>
							<div  >
								<td colspan="5"  class="F16" id="firstCheckPd">PD &nbsp;</td>
							</div>
						</table>

						<!--左眼数据-->
						<table border="1" cellspacing="0" cellpadding="0" class="TabLine">
							<tbody>
							<tr class="F16">
								<td class="C-blue"> &lt; L &gt;</td>
								<td>S</td>
								<td>C</td>
								<td>A</td>
								<td> </td>
							</tr>
							<tr id="firstcheckl">
								<td colspan="5" class="F16">L.DATA</td>
							</tr>

							<tr>
								<td colspan="5" class="F16" id="firstCheckLps">PS &nbsp;</td>
							</tr>
							<tr class="F16">
								<td> </td>
								<td>R</td>
								<td>D</td>
								<td>deg</td>
								<td> </td>
							</tr>

							<tr id="firstcheckdegl">
								<td colspan="5" class="F16" id="firstCheckLcs">CS &nbsp;</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!---====散瞳后电脑验光====-->
			<div class="box1" name="youer-santonghou">
				<p>散瞳后电脑验光:</p>
				<div class="fl sanTong">
					<!--	<a href="">获取数据</a>-->
					<div class="stsju">
						<div  id="secondCheckVd">
							VD
						</div>
						<!--右眼数据-->
						<table border="1" cellspacing="0" cellpadding="0">
							<tbody>

							<tr class="F16">
								<td class="C-blue"> &lt; R &gt;</td>
								<td>S</td>
								<td>C</td>
								<td>A</td>
								<td> </td>
							</tr>
							<tr id="secondcheckr">
								<td colspan="5" class="F16">L.DATA</td>
							</tr>
							<tr>
								<td colspan="5" class="F16" id="secondCheckRps">PS &nbsp;</td>
							</tr>
							<tr class="F16">
								<td> </td>
								<td>R</td>
								<td>D</td>
								<td>deg</td>
								<td> </td>
							</tr>
							<tr id="secondcheckdegr">
								<td colspan="5" class="F16" id="secondCheckRcs">CS &nbsp;</td>
							</tr>
							<!--<tr>
                                <td colspan="5" class="F16">PD &nbsp; 58.0</td>
                            </tr>-->
							</tbody>
							<div  >
								<td colspan="5"  class="F16" id="secondCheckPd">PD &nbsp;</td>
							</div>
						</table>

						<!--左眼数据-->
						<table border="1" cellspacing="0" cellpadding="0" class="TabLine">
							<tbody>
							<tr class="F16">
								<td class="C-blue"> &lt; L &gt;</td>
								<td>S</td>
								<td>C</td>
								<td>A</td>
								<td> </td>
							</tr>
							<tr id="secondcheckl">
								<td colspan="5" class="F16">L.DATA</td>
							</tr>
							<tr>
								<td colspan="5" class="F16" id="secondCheckLps">PS &nbsp;</td>
							</tr>
							<tr class="F16">
								<td> </td>
								<td>R</td>
								<td>D</td>
								<td>deg</td>
								<td> </td>
							</tr>
							<tr id="secondcheckdegl">
								<td colspan="5" class="F16" id="secondCheckLcs">CS &nbsp;</td>
							</tr>
							<!--<tr>
                                <td colspan="5" class="F16">PD &nbsp; 58.0</td>
                            </tr>-->
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="box">
				<span>检查结论：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>检查结论描述...</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>医生建议：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>医生建议描述医生建议描述医生建议描述医生建议描述...</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>下次复查时间：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>2021年1月22日</td>
					</tr>
				  </tbody>
				</table>
			</div>
			
			<div class="box">
				<span>检查者签字：</span>
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td>张三</td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
 		
   </div>  
</body>
</html>



